body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f4f4f4;
}

h1 {
  text-align: center;
}

#searchBox {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
  transition: 0.2s;
}

li:hover {
  background: #e3e3e3;
}
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f4f4f4;
}

h1 {
  text-align: center;
}

#searchBox {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
  transition: 0.2s;
}

li:hover {
  background: #e3e3e3;
}
